* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: auto;
}


/* PROMO */



.promo {
    background: url(../img/bckg.png) no-repeat;
    background-size: 55%;
}

.menu {
    min-width: 590px;
    display: flex;
    justify-content: space-between;
}

.menu-link {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    max-width: 430px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FDF6F6;
}

.link:hover {
    font-weight: 700;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: -0.015em;
    color: #FDF6F6;
    margin-top: 145px;
}

.subtitle {
    margin-top: 28px;
    max-width: 615px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FDF6F6;
}

.btn {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    background: #F2B138;
    border-radius: 24px;
    padding: 10px 22px;
    margin-top: 50px;
    margin-bottom: 100px;
}


.search {
    border-right: 1px solid #E6E6E6;
    padding-right: 25px;
}

.sign {
    min-width: 170px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.btn-sign {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    background: #F2B138;
    border-radius: 24px;
    padding: 10px 22px;
}

.text-block {
    display: flex;
    justify-content: space-between;
}

.girl {
    margin-top: 25px;
}


/* PROMO */


/* CATEGORIES */

.categories {
    margin-top: 90px;
    margin-bottom: 100px;
    display: flex;
}

.categ__block-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.categories__block-two {
    margin-left: 40px;
}

.cat5 {
    margin-top: 35px;
}

/* CATEGORIES */




/* ICONS */
.icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.icons__block {
    text-align: center;
}

.icons-p {
    width: 124px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14.8125px;
    line-height: 17px;
    color: #2E2B2B;
    margin-top: 12px;
}

.p-ic {
    width: 55px;
}


/* ICONS */


.recommended {
    margin-top: 160px;
    margin-bottom: 160px;
}

.title_block {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: -0.015em;
    color: #2E2B2B;
}

.title_block::after {
    position: absolute;
    content: '';
    height: 6px;
    width: 94px;
    background: #388186;
    border-radius: 6px;
    left: 0;
    bottom: -16px;
}

.rec__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rec_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13.7284px;
    line-height: 17px;
    color: #5E5873;
    position: relative;
    padding-right: 30px;

}

.rec_link::after {
    position: absolute;
    content: '';
    top: -5px;
    right: 0;
    height: 28px;
    width: 28px;
    background: url(../img/Arrow\ Right_link.svg) no-repeat;
}


.cards {
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 246px;
    border: 0.823161px solid #DFDFDF;
    border-radius: 4px;

}

.cards::before {
    position: absolute;
    content: url(../img/arrow-l.svg);
    left: -50px;
    top: 208px;
    cursor: pointer;
}

.cards::after {
    position: absolute;
    content: url(../img/arrow-r.svg);
    left: 1100px;
    top: 208px;
    cursor: pointer;
}

.card-info {
    padding: 16px 19px 0 19px;
    position: relative;
}

.card-info::after {
    top: 16px;
    right: 17px;
    width: 40px;
    height: 35px;
    position: absolute;
    content: url(../img/eyes.svg);
}

.card_name {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13.7284px;
    line-height: 17px;
    color: #5E5873;
    margin-top: 12px;
}



.stars {
    position: relative;
    padding-right: 20px;
}

.stars::after {
    right: 0;
    position: absolute;
    content: url(../img/star.svg);
}

.card_rp {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.rp-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14.8169px;
    line-height: 17px;
    color: #5E5873;
}

.rp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11.5242px;
    line-height: 17px;
    color: #5E5873;
}

.card-time {
    margin-top: 5px;
    display: flex;
}

.p-time {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11.5242px;
    line-height: 17px;
    color: #5E5873;
    padding-left: 8px;
    text-align: center;
}

.card-house {
    margin-top: 5px;
    display: flex;
}

.p-hos {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11.5242px;
    line-height: 17px;
    color: #5E5873;
    padding-left: 8px;
    text-align: center;
}

.card-btn {
    margin-top: 10px;
    display: flex;
}

.mes {
    padding: 13px 17px;
    background: #FDF6F6;
    cursor: pointer;
}

.mes-btn {
    padding: 11px 74px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11.5242px;
    line-height: 17px;
    color: #FFFFFF;
    background: #388186;
    border-radius: 0px 0px 4.93896px 0px;
}



/* COLLECTION */


.coll-img {
    width: 50%;
}

.collect__one {
    display: flex;
    justify-content: space-between;
    background: #FDF6F6;

}

.one-text {
    max-width: 303px;
    width: 100%;
    margin-right: 167px;
    margin-top: 203px;

}

.title-collect {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #2E2B2B;
}

.p-collect {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-top: 24px;
}

.btn-collect {
    margin-top: 24px;
}

.collect__two {
    display: flex;
    justify-content: space-between;
    background: #FDF6F6;
}

.two-text {
    max-width: 303px;
    width: 100%;
    margin-left: 167px;
    margin-top: 203px;
}

/* COLLECTION */



/* CONTACT */

.contact {
    background: #01727D;
    display: flex;
    justify-content: space-between;
    padding-bottom: 66px;
}

.contact__text {
    padding-top: 40px;
    max-width: 704px;
}

.title-cont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: -0.015em;
    color: #FDF6F6
}

.p-cont {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FDF6F6;
    margin-top: 20px;
}

.contact__btn {
    max-width: 277px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 90px;
}

.btn-contact {
    margin: 0;

}

.contact-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #FDF6F6;
    border: 1px solid #FDF6F6;
    border-radius: 24px;
    background: none;
    padding: 8px 22px;

}

/* CONTACT */



/* FOOTER */

.footer {
    background: #2E2B2B;
    text-align: center;
}

.logo-footer {
    display: block;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 30px;
}

.hr {
    width: 1307px;
    height: 1px;
    margin: auto;

}

.footer_icon {
    margin: auto;
    max-width: 216px;
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    padding-bottom: 32px;
}

.footer-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 120px;
}

/* FOOTER */